[Unit]
Description=Docker Compose - Media Stack
Requires=docker.service network-online.target var-mnt-nas\x2dmedia.mount
After=docker.service network-online.target var-mnt-nas\x2dmedia.mount
RequiresMountsFor=/var/mnt/nas-media

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/srv/containers/media
ExecStartPre=/usr/bin/findmnt /mnt/nas-media
ExecStart=/usr/bin/docker compose up -d
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
